__pycache__
*.pyc
.git
.gitignore
.env
.vscode
.idea
data/raw
data/frames
data/eval_videos
checkpoints
wandb
*.md
LICENSE
*.doc
data/huggingface_cache
data/hpo_logs
data/hpo_studies
data/eval_videos
data/raw_frames
data/raw_videos
data/processed
*.zip
*.mp4
*.pt
